
<script>
    var baseurl = "http://localhost:8080/shopping-cart/total";
    var total;
    function loadTotal()
    {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET",baseurl,true);

        xmlhttp.onreadystatechange = function()
        {
            total = xmlhttp.responseText;
            if (total!== null)
                document.getElementById('total').innerText = total;

        }
        xmlhttp.send();


    }
    window.onload=function (){
        loadTotal()
    }
</script>

<section class="jumbotron text-center" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1 class="jumbotron-heading" th:if="${items.size()>0}">Shopping cart</h1>
        <div class="container" th:if="${items.size().equals(0)}">
            <h1 class="jumbotron-heading">Shopping Cart is Empty!</h1>
        </div>
    </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${items.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Category</th>
                            <th scope="col">Manufacturer</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${items}">
                            <td th:text="${item.getName()}"></td>
                            <td th:text="${item.getPrice()}"></td>
                            <td th:text="${item.getCategory().getName()}"></td>
                            <td th:text="${item.getManufacturer().getName()}"></td>
                            <td>
                                <form th:action="@{'/shopping-cart/remove/{productId}' (productId=${item.getId()})}"
                                      th:method="POST">
                                    <button type="submit"
                                            class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash"><svg style="margin-bottom:3px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg></i>
                                    </button>
                                </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div class="container" th:if="${items.size()>0}">
        <div class="text-left font-weight-bold">
            Total Cost: <br>
            <span id="total">
            </span>
        </div>
        <div class="text-right">
            <form th:action="@{'/shopping-cart/buy'}">
                <button
                        class="btn btn-sm btn-success">
                    <i class="fa fa-trash">Buy</i>
                </button>
            </form>
        </div>
</section>
